.itemCart {
    display: flex;
    margin-top: 2px;
    margin-bottom: 2px;

    .imgCart {
        width: 100px;
        height: 100px;
        align-self: center;
    }

    .containerCartDescription {
        display: flex;
        flex-direction: column;
        // min-width: 600px;
    }

}