.liCaracteristicas {
    text-align: start;
}

.imageGrid {
    margin-top: 50px;
    margin-bottom: 50px;
}

.gridContainer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.link {
    text-decoration: none;
}