.link {
    text-decoration: none;
}

.Card {
    margin: 5px;
    width: 200px;
}

.image {
    height: 180px;
    width: 100%;
}

.outOfStock {
    opacity: 50%;
}

.cardButtonContainer {
    justify-content: center;
}

.cardContent {
    height: 100px;
}