.checkOut {
    display: flex;
    flex-direction: column;
    align-items: center;

    .checkOutTitle {
        text-align: center;
    }

    .inputCheckOut {
        background-color: #fff;
    }
}

.outOfStock {
    .imgNoneStock {
        height: 80px;
        width: 80px;
    }
}